*{ box-sizing: border-box;
padding: 0;
margin: 0;
}
a{
    text-decoration: none;
}
/*navbar start*/
.navbar-brand img{
width: 200px;}
.navbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    margin-top: 90px;
    background-image: url(../data/bakery-light-1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

 .navbar-nav .nav-item .nav-link{
    color:#fff;
    font-size: 18px;
}
.navbar-nav .nav-item .nav-link:hover{
    color:#8e7754;
    transition: 0.5s;
    text-decoration: underline !important;
}
.navbar.scrolled {
    background-color: #865236     !important;
    transition: background-color 200ms linear;
    background-image: url(../data/bakery-color.png);
    background-repeat: no-repeat;
  }

  
/*navbar end*/
/*mainsection start*/
.mainpic{
    background-image: url(../data/drew-coffman-1872.jpg);
    background-size:100vw;
    background-repeat: no-repeat;
    height:60vw;
    margin-top: -90px;

}
.main-text{
    color:white;
    padding-top: 400px;
    font-size: larger;
    margin-bottom: 100px;
    font-size: 32px;
}
.mainbtn{
    
    margin-left: 500px;
    display: inline;
}
.fbtn{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    background-color: #8e7754;
    border:1px solid white
   
}
.sbtn{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    border:1px solid white
}
#toTop{
    width: 30px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
}
/*mainsection end*/
/*who we are section start*/
.who-we-are{
    margin-top: 20px;
    height: 500px;
    overflow: hidden;
    background-color: #EEE;
    padding: 30px;

}
.who-we-are img{
    width: 550px;
    height: 450px;
    margin-left: -100px;
 
}
.who-we-are-ul{
    margin-top: 50px;
    list-style-type: none;
}
.who-we-are-ul li{text-align: start;
    padding-bottom: 20px;

}
.who-we-are-ul i{
    color:#8e7754;
    background-color: #8e7754;
}
/*who we are section end*/
/*location section start*/

.location{
    margin-top: 20px;
    height: 500px;
    overflow: hidden;
    background-color: #EEE;
    padding: 30px;
}
.location img{
    width: 550px;
    height: 460px;
    margin-left: 20px;
}
/*location section end*/
/*ourbaking section start*/
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ourbaking{
    height: 50vh;
    margin-top: 60px;
}
/* .ourbaking img{

    width: 100%;
} */
/* .ourbaking h4{
   position: relative;
   top:5px;
color: black;
} */
/*ourbaking section end*/

/*contact info section start*/
.contact-info{
    margin-top: 100px;
    height: 90vh;
    overflow: hidden;
    background-color: #EEE;
    padding: 30px;
}
.contact-info iframe{
    width: 400px;
    height: 400px;
}
/*contact info section end*/
/*about-us section start*/
h4{
    color:#fff;
}
.about-us{
    /* height: 80vh; */
    margin-top: 30px;
    background-image: url("../data/contact-details-map.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y:center;
    background-color: #353330;
    opacity: .9;
    color:#969696;
    padding: 30px;
    font-size: 15px;
}
.about-us li{
    list-style-type:none;
}

/*about-us section end*/
/*footer start*/

footer{
    height: 15vh;
    background-color: #353330;
}

/*footer end*/
/*about page and offer page ///////////////////////////////////////

/*  navbarstart*/
.aboutnav{
    position:fixed;
    width: 100%;
    height: 80px;
    background-color: #EEE;
    background-image: url(../data/bakery-color.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
    z-index: 1;
}
.aboutnav.nav-link{
    color:#969696;
    font-size: 22px;
}
.aboutnav.nav-link:hover{color:#8e7754;}
/* start main section */
/* .mainsection{
    background-image: url(../data/Untitled.png);
    background-size:100vw;
    background-repeat: no-repeat;
    height:30vw;

} */

/* secand end */
.fourth{
    margin-top: 40px;
    background-color: #8e7754;
    height: 400px;
    padding-top: 150px;
}
.fourth p{
    margin-top: 40px;
}

/* start gallery page */
.mgal{
    background-color: #EEE;
    height: 300px;
    width: 100%;
}
.gallery img{
width: 410px;
margin-left: 40px;
margin-top: 20px;
}
.gallery img:hover{
transform: scale(1.1);}
.mgal h4{
    display: inline;
    color:gray;
    position: absolute;
    top:200px;
    left:600px
}
.mgal h6{
    display: inline;
    color:gray;
    position: absolute;
    top:250px;
    left:520px
}
/* end gallery page  */
/* contact page*/
.form{
    position: relative;
    top:100px;
    width: 100%;
    height: 500px;
}
#iform{
    width:327px;
    margin-left: 10px;
}
.conul{
    list-style-type: none;
}
.conul .conli{
    color: #8e7754;
}
.map{
    margin: 10px;
}
.conh4{
    display: inline;
    color:gray;
    position: absolute;
    top:350px;
    left:600px
}
.bloge{
 
    padding-top: 20px;
}

.blcard{
    margin: 15px;
    padding-top: 20px;}
  
  
.carousel-indicators{
    position: absolute;
    top: 290px;

}
.blcard ul{
list-style-type: none;
}
.blcard li::before{
    content: ' >   ';
}
.card-header{
    height: 120px;
    background-color:#8e7754 ;
}
/* contact page end*/
/* start simplepage */
.simplepost{
    margin-top: 30px;
    
}
.simplepost img{
    width: 80%;
    height: 400px;
    position: relative;
    left:120px;
    margin-bottom: 20px;
}
/* end simplepage */
.travel{
    margin-top: 40px;
}
.basic{
    margin-left:-120px;
}

